@import 'tailwindcss';

:root {
  --color-once-50: #ffffff;
  --color-once-100: #ffffff;
  --color-once-200: #ffd9e9;
  --color-once-300: #ffb1d1;
  --color-once-400: #ff88ba;
  --color-once-500: #ff5fa2;
  --color-once-600: #ff2781;
  --color-once-700: #ee0064;
  --color-once-800: #b6004c;
  --color-once-900: #7e0035;
  --color-once-950: #620029;
  --color-once: #ff5fa2;

  --color-mina-50: #f6fcfb;
  --color-mina-100: #e7f7f3;
  --color-mina-200: #c8ece4;
  --color-mina-300: #aae2d6;
  --color-mina-400: #8bd7c7;
}

@layer base {
  body {
    background-color: theme(colors.slate.50);
    color: theme(colors.slate.900);
  }
}

@layer utilities {
  .btn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    transition-property: color, background-color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  
  .btn-primary {
    background-color: theme(colors.blue.600);
    color: white;
  }
  
  .btn-primary:hover {
    background-color: theme(colors.blue.700);
  }
  
  .btn-secondary {
    background-color: theme(colors.slate.200);
    color: theme(colors.slate.800);
  }
  
  .btn-secondary:hover {
    background-color: theme(colors.slate.300);
  }
}
